@import "~bootstrap/scss/bootstrap"
@import "mixins"
@import "animations"

body
    margin-top: 100px
    margin-bottom: 100px

.navbar-nav
    flex-direction: row

    .nav-link
        padding-right: .5rem
        padding-left: .5rem
        cursor: pointer

.navbar-brand
    .logo
        height: 30px
        margin-right: 10px


h1 + form
    margin-top: 2rem


.btn-with-loader
    min-width: 100px


.animation-fade-in
    opacity: 0
    @include animation(fadeIn, ease-in, 1)
    @include animation-duration(1s)
    @include animation-delay(.4s)
    @include animation-fill-mode(forwards)


.KMDetail
    &__Panel
        border-left: 1px solid $gray-300

        p, ul
            margin-bottom: 2rem